@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 1280px;
    margin: 20px auto;
    text-align: center;
}
.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 20px;
    border:none;
    cursor: pointer;
    border-radius:100px;
    margin: 5px;
    font-family: "Bricolage Grotesque", serif;
    font-size:24px;
    color:#5D5065;
}
.tabs button.active {
    background: linear-gradient(90deg, #680099 ,#AD00FF);
    color: white;
}
.toggle {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
    margin-top: -80px;
}
.toggle_item{
    background-color:#FCF5FF;
    border-radius: 100px;
}
.toggle button {
    padding: 10px 20px;
    border:none;
    cursor: pointer;
    border-radius:100px;
    margin: 5px;
    font-family: "Bricolage Grotesque", serif;
    font-size:24px;
    color:#07010B;
}
.toggle button.active {
    background: linear-gradient(90deg, #680099 ,#AD00FF);
    color: white;
}
.pricing-container {
    display: none;
    justify-content: space-between;
}
.pricing-card {
    width: 409px;
    height: 800px;
    border-radius: 16px;
    padding: 20px;
    text-align: left;
    border: 1px solid #A501F3;
}
.pricing-card.growth {
    background-color:#A501F3;
    color: white;
}
.pricing-card .white_button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 357px;
    height: 56px;
    gap: 10px; /* Space between text and image */
    background-color: white;
    border-radius: 50px;
    padding: 10px 40px;
    text-decoration: none;
    color:black;
    font-size: 16px;
    font-weight: bold;
    font-family: "Bricolage Grotesque", serif;
    margin-top: 40px;
}


.active-container {
    display: flex;
}
.description{
    font-size:px;
}
.customer-fav {
    background: #32FBDA;
    width: 145px;
    font-style: italic;
    color: #000000;
    padding: 10px 10px;
    font-size: 14px;
    border-radius:100px;
    transform: rotate(30deg);
    transform-origin: center;
    font-family: "Bricolage Grotesque", serif;
    display: inline-block;
    position: relative; /* Allow for fine control over positioning */
    top: -42px; /* Adjust positioning from top */
    left: 260px; /* Adjust positioning from left */
    font-weight: 600;
}
.growth{
    overflow: hidden;
    border: none;
}
.icon-title {
    display: flex;
    align-items: center;
    gap:10px;
}
.icon_title-item {
    display: flex;
    align-items: center;
    gap: 5px;

}
.icon_title_2_item{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}



.contact-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 357px;
    height: 56px;
    gap: 10px; /* Space between text and image */
    background: linear-gradient(to right, #680099, #AD00FF);
    border-radius: 50px;
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "Bricolage Grotesque", serif;
    margin-top: 40px;
}

.contact-btn img {
    height: 18px; /* Adjust the size of the arrow icon */
    width: auto;
}
.title_1{
    font-family: "Bricolage Grotesque", serif;
    font-size:48px;
    color:#07010B;
}

.title_32{
    font-family: "Bricolage Grotesque", serif;
    font-size:32px;
    color:#07010B;
}
.title_14{
    font-family: "Bricolage Grotesque", serif;
    font-size:14px;
    color:#5D5065;
    margin-top: 10px;
    margin-bottom: 10px;
}
.title_16{
    font-family: "Bricolage Grotesque", serif;
    font-size:16px;
    color:#5D5065;
}
.title_16_2{
    font-family: "Bricolage Grotesque", serif;
    font-size:16px;
    color:#5D5065;
}
.title_24{
    font-family: "Bricolage Grotesque", serif;
    font-size:24px;
    color:#07010B;
}
.price{
    font-family: "Bricolage Grotesque", serif;
    font-size:48px;
    color:#07010B;
    font-weight: 500;
    margin-top:20px;
    margin-bottom: 10px;
}
.italic{
    font-style: italic;
    color: #AD00FF;
    font-weight:600;
}
.mt10{
    margin-top:10px;
}
.mt20{
    margin-top:20px;
}
.mt-20{
    margin-top:-26px;
}
.mb10{
    margin-bottom:10px;
}
.mb20{
    margin-bottom:20px;
}
.white{
    color: white;
}
.black{
    color: black;
}
@media (max-width:1400px) {
    .container {
        width:100%;
    }
    .tabs, .toggle {
        flex-wrap: wrap;
        justify-content: center;
    }
    .pricing-container {
        flex-direction: column;
        align-items: center;
        
    }
    .pricing-card {
        width:371px;
        height: 800px;
        border-radius: 16px;
        padding: 20px;
        text-align: left;
        border: 1px solid #A501F3;
    }
    .pricing-card {
        margin-bottom: 20px;
    }
    .toggle {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;
        margin-top:0px;
    }
    .tabs {
       justify-content:flex-start;
    }
    .tabs button {
        padding: 10px 15px;
        border:none;
        cursor: pointer;
        border-radius:100px;
        margin: 5px;
        font-family: "Bricolage Grotesque", serif;
        font-size:14px;
        color:#5D5065;
    }
    .tabs button.active {
        background: linear-gradient(90deg, #680099 ,#AD00FF);
        color: white;
    }
    .toggle button {
        padding: 10px 20px;
        border:none;
        cursor: pointer;
        border-radius:100px;
        margin: 5px;
        font-family: "Bricolage Grotesque", serif;
        font-size:16px;
        color:#07010B;
    }
    .contact-btn{
        margin-left: -10px;
    }
    .pricing-card .white_button{
        margin-left: -10px;
    }
    .customer-fav {
        top: -42px; /* Adjust positioning from top */
        left: 230px; /* Adjust positioning from left */
        font-weight: 600;
    }
    
}